{% load static %}
<html>

<head>
    <title>Welcome</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'images/Vibe.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar">
            <img src="{% static 'images/Vibe.png' %}" alt="VibeHive Logo">
    </nav>

    <!-- Main Card Content -->
    <div class="card">
        <h2>Welcome to VibeHive, {{ request.user.first_name }}</h2>
        <p>Find <em>your</em> people, Find <em>your</em> vibe :)</p>
        <p><a href="{% url 'logout' %}">Logout</a></p>
    </div>

    <!-- Footer -->
    <footer>
        <div class="info">
            <div class="store">
                <p>Get the App</p>
                <img src="{% static 'images/app_store.png' %}" alt="App Store">
                <img src="{% static 'images/play_store.png' %}" alt="Play Store">
            </div>
            <p>Contact us: <a href="mailto:support@vibehive.com">support@vibehive.com</a></p>
        </div>
        <p>&copy; {{ current_year|default:2025 }} VibeHive. All rights reserved.</p>
    </footer>
</body>

</html>
